<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <h1>Formalario de novas noticia</h1>
        <br>
        <form action="/noticias/salvar" method="post">
            <label> Título </label>
            <input type="text" id="titulo" name="titulo" placehorder="Título da Notícia">
            <br>
            <label> Notícia </label>
            <textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>